<div ng-include="'views/common/navbar.html'"></div>
<div class="app-body">
    <!-- Main content -->
    <main class="main" style="margin: 0px;">
        <div class="container-fluid">
            <ui-view></ui-view>
        </div>
    </main>
</div>