<style>
    #question-show-container .comment {
        margin-left: 100px;
    }

    #question-show-container .comment hr {
        margin: 0;
    }

    #question-show-container .comment p {
        margin: 0;
    }

    #question-show-container .answer {
        margin-left: 50px;
    }

    .comment-wmd-input {
        height: 50px;
        width: 100%;
        background-color: Gainsboro;
        border: 1px solid DarkGray;
    }

    body {
        background-color: white;
    }

    .container a {
        color: blue !important;
        cursor: pointer;
    }
</style>
<div class="container" id="question-show-container">
    <div>
        <button ng-if="isOwner(question)" type="button" class="close" ng-click="deleteQuestion()">&times;</button>

        <div style="display: none; float: left;font-size: x-large; padding: 0; width: 2em; text-align: center;">
            <button ng-if=" isStar(question)" type="button" style="background: transparent; border: 0;" ng-click="unstar('')">
                <span class="glyphicon glyphicon-star" style="color: #CF7C00;"></span>
            </button>
            <button ng-if="!isStar(question)" type="button" style="background: transparent; border: 0;" ng-click="star('')">
                <span class="glyphicon glyphicon-star-empty"></span>
            </button>
            <br/>
            <div>{{question.stars.length}}</div>
        </div>



        <div>
            <h1>
                <div ng-if="! editting">{{question.title}}</div>
                <input type=text ng-model="question.title" ng-if=" editting">
            </h1>

            <span class="label label-info">
                {{question.tags}}
            </span>

            <!-- <span ng-repeat="tag in question.tags">
                <span class="label label-info">
                    {{tag.text}}
                </span>
            </span> -->
        </div>
    </div>
    <hr/>

    <div style="float: left;font-size: small; padding: 0; width: 2em; text-align: center;">
        <i title="Up Votes" ng-click="changeVote(question, 'up')" class="fa fa-arrow-circle-up fa-2x"></i>
        <br>{{question.score}}
        <i title="Down Votes" ng-click="changeVote(question, 'down')" class="fa fa-arrow-circle-down fa-2x"></i>
        <br>
        
    </div>

    <pagedown-viewer content="question.body" ng-if="!editting"></pagedown-viewer>
    <pagedown-editor ng-model="question.body" ng-if=" editting"></pagedown-editor>
    <button type="submit" class="btn btn-primary" ng-click="editting=false;updateQuestion()" ng-show=" editting">Save</button>
    <a ng-click="editting=!editting;" ng-show="isOwner(question) && !editting">Edit</a>

    <div class="text-right">by
        <a ng-href="/users/{{question.user._id}}">{{question.ownerdisplayname}}</a> - {{question.creationdate|fromNow}}</div>
    &nbsp;
    <div class="comment">
        <div ng-repeat="comment in question.comments">
            <hr/>
            <button ng-if="isOwnerComment(comment)" type="button" class="close" ng-click="deleteComment(comment)">&times;</button>
            <div style="display: none; float: left;font-size: normal; padding: 0; width: 2em; text-align: center;">
                <button ng-if=" isStar(comment)" type="button" style="background: transparent; border: 0;" ng-click="unstar('/comments/' + comment._id)">
                    <span class="glyphicon glyphicon-star" style="color: #CF7C00;"></span>
                </button>
                <button ng-if="!isStar(comment)" type="button" style="background: transparent; border: 0;" ng-click="  star('/comments/' + comment._id)">
                    <span class="glyphicon glyphicon-star-empty"></span>
                </button>
                <br/>
                <div>{{comment.stars.length}}</div>
            </div>


            <pagedown-viewer content="comment.text" ng-if="!editting"></pagedown-viewer>
            <pagedown-editor ng-model="comment.text" ng-if=" editting"></pagedown-editor>
            <button type="submit" class="btn btn-primary" ng-click="editting=false;updateComment(comment)" ng-show=" editting">Save</button>
            <a ng-click="editting=!editting;" ng-show="isOwnerComment(comment) && !editting">Edit</a>

            <div class="text-right" style="vertical-align: bottom;">by
                <a ng-href="/users/{{comment.user._id}}">{{comment.userdisplayname}}</a> - {{comment.creationdate|fromNow}}</div>
            <div class="clearfix"></div>
        </div>
        <hr/>
        <a ng-click="editNewComment=!editNewComment;">add a comment</a>
        <form ng-if="editNewComment" name="commentForm">
            <pagedown-editor ng-model="newComment.text" editor-class="'comment-wmd-input'" name="commentEditor" required>
            </pagedown-editor>
            <button type="button" class="btn btn-primary" ng-click="submitComment()" ng-disabled="commentForm.$invalid">Add Comment</button>
        </form>
    </div>


    &nbsp;
    <h3>{{question.answercount}} Answers</h3>
    <div ng-repeat="answer in question.answers">
        <hr/>

        <div style="float: left;font-size: small; padding: 0; width: 2em; text-align: center;">
            <i title="Up Votes" ng-click="changeVote(answer, 'up')" class="fa fa-arrow-circle-up fa-2x"></i>
            <br>{{answer.score}}
            <i title="Down Votes" ng-click="changeVote(answer, 'down')" class="fa fa-arrow-circle-down fa-2x"></i>
            <br>
            <img style="width: 30px; height: 25px;" ng-if="(question.acceptedanswerid == answer.postid)" alt="Accepted"  src="img/accepted.png"></img>
            <img style="width: 30px; height: 25px;" ng-if="(question.acceptedanswerid != answer.postid)" alt="ToAccepted" src="img/unaccepted.png" ng-click="accepted(answer)" class="fa fa-arrow-up fa-2x"></img>
        </div>

        <div style="display: none;float: left;font-size: large; padding: 0; width: 2em; text-align: center;">
            <button ng-if=" isStar(answer)" type="button" style="background: transparent; border: 0;" ng-click="unstar('/answers/' + answer._id)">
                <span class="glyphicon glyphicon-star" style="color: #CF7C00;"></span>
            </button>
            <button ng-if="!isStar(answer)" type="button" style="background: transparent; border: 0;" ng-click="  star('/answers/' + answer._id)">
                <span class="glyphicon glyphicon-star-empty"></span>
            </button>
            <br/>
            <div>{{answer.stars.length}}</div>
        </div>

        <div class="answer">
            <button ng-if="isOwner(answer)" type="button" class="close" ng-click="deleteAnswer(answer)">&times;</button>
            <pagedown-viewer content="answer.body" ng-if="!editting"></pagedown-viewer>
            <pagedown-editor ng-model="answer.body" ng-if=" editting"></pagedown-editor>
            <button type="submit" class="btn btn-primary" ng-click="editting=false;updateAnswer(answer)" ng-show=" editting">Save</button>
            <a ng-click="editting=!editting;" ng-show="isOwner(answer) && !editting">Edit</a>
        </div>

        <div class="text-right">by {{answer.ownerdisplayname}} - {{answer.creationdate|fromNow}}</div>
        <div class="comment">
            <div ng-repeat="comment in answer.comments">
                <hr/>
                <button ng-if="isOwnerComment(comment)" type="button" class="close" ng-click="deleteAnswerComment(answer, comment)">&times;</button>

                <div style="display: none; float: left;font-size: normal; padding: 0; width: 2em; text-align: center;">
                    <button ng-if=" isStar(comment)" type="button" style="background: transparent; border: 0;" ng-click="unstar('/answers/' + answer._id + '/comments/' + comment._id)">
                        <span class="glyphicon glyphicon-star" style="color: #CF7C00;"></span>
                    </button>
                    <button ng-if="!isStar(comment)" type="button" style="background: transparent; border: 0;" ng-click="  star('/answers/' + answer._id + '/comments/' + comment._id)">
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </button>
                    <br/>
                    <div>{{comment.stars.length}}</div>
                </div>


                <pagedown-viewer content="comment.text" ng-if="!editting"></pagedown-viewer>
                <pagedown-editor ng-model="comment.text" ng-if=" editting"></pagedown-editor>
                <button type="submit" class="btn btn-primary" ng-click="editting=false;updateAnswerComment(answer, comment)" ng-show=" editting">Save</button>
                <a ng-click="editting=!editting;" ng-show="isOwnerComment(comment) && !editting">Edit</a>

                <div class="text-right">by
                    <a ng-href="/users/{{question.user._id}}">{{comment.userdisplayname}}</a> - {{comment.creationdate|fromNow}}</div>
                <div class="clearfix"></div>
            </div>
            <hr/>
            <a ng-click="editNewAnswerComment=!editNewAnswerComment;answer.newAnswerComment={}">add a comment</a>
            <form ng-if="editNewAnswerComment" name="answer_{{answer.id}}_comment">
                <hr/>
                <pagedown-editor ng-model="answer.newAnswerComment.text" editor-class="'comment-wmd-input'" required>
                </pagedown-editor>
                <button type="button" class="btn btn-primary" ng-click="submitAnswerComment(answer)" ng-disabled="answer_{{answer.id}}_comment.$invalid">Add Comment</button>
            </form>
        </div>
    </div>
    <hr/>
    <h3>Your answer</h3>
    <form name="answerForm" ng-submit="submitAnswer()">
        <pagedown-editor ng-model="newAnswer.body" name="answerEditor" required></pagedown-editor>
        <input type="submit" class="btn btn-primary" ng-disabled="answerForm.$invalid" value="Submit your answer">
    </form>
</div>