<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Health Overflow</h1>
    <p class="lead" style="font-size: 25px;">ကျန်းမာရေးဆိုင်ရာ အမေးအဖြေကဏ္ဍ
    </p>
    <!-- <p class="lead">How to make QA sites like this:
      <a style="color: #c0c0c0;" href="http://engineering.paiza.io/entry/2016/03/10/115345">Building a QA web service in an hour - MEAN stack development(3)</a>
    </p>
    <img src="img/avatars/6.jpg" alt="I'm Yeoman"> -->
  </div>
</header>

<div class="container" infinite-scroll='nextPage()' infinite-scroll-disabled='busy || noMoreData'>
  <br/>
  <div style="text-align: center">
    <a type="button" class="btn btn-primary" ui-sref="appSimple.questionsCreate">Ask Question</a>
  </div>

  <table class="table table-striped">
    <thead style="border-top-style: hidden;">
      <tr>
        <th width="20">Votes</th>
        <th width="20">Answers</th>
        <th>Question</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="question in questions">
        <td style="text-align: center; vertical-align:middle">
          <div style="font-size: xx-large;">{{question.score}}</div>
        </td>
        <td style="text-align: center; vertical-align:middle">
          <div style="font-size: xx-large;">{{question.answercount}}</div>
        </td>
        <td>
          <div style="float: right;">
            <span ng-if="question.acceptedanswerid != null" class="glyphicon glyphicon-star" style="color: #CF7C00;"></span>
            <span ng-if="question.acceptedanswerid == null" class="glyphicon glyphicon-star-empty"></span>
          </div>
          <a ui-sref="appSimple.questionsShow({id: question.postid})" style="font-size: large">{{question.title}}</a>
          <div class="clearfix"></div>
          <div style="float: right;">
            by
            <a ng-href="/users/{{question.user.postid}}">{{question.ownerdisplayname}}</a>
            - {{question.creationdate|fromNow}}
          </div>
          <div>
            <span class="label label-info">
              {{question.tags}}
            </span>
            <!-- <span ng-repeat="tag in question.tags">
                <span class="label label-info">
                  {{tag.Text}}
                </span>
                &nbsp;
              </span> -->
          </div>
          <div class="clearfix"></div>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-show='busy'>Loading data...</div>
</div>