<style>
    table {
        height: calc(100vh - 180px);
        width: 100vw;
        font-size: 5em;
        color: cadetblue;
    }
</style>
<div class="animated fadeIn">
<table>
    <tr>
        <td>
            Welcome Doctor Manager
        </td>
    </tr>
</table>
</div>
