<header class="app-header navbar">
    <!-- <button class="navbar-toggler mobile-sidebar-toggler d-lg-none" type="button">&#9776;</button> -->
    <a class="navbar-brand" ui-sref="appSimple.questionindex({id})"></a>
    <ul class="nav navbar-nav d-md-down-none">
        <!-- <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
        </li> -->

        <li class="nav-item px-3">
            <a class="nav-link" ui-sref="appSimple.questionindex({id})">All</a>
        </li>
        <li ng-if="isLoggedIn()" class="nav-item px-3">
            <a class="nav-link" ui-sref="appSimple.questionindex({id: getCurrentUser().userid })">Mine</a>
            <!-- <a class="nav-link" ui-sref="appSimple.questionindex"></a>Mine</a> -->
        </li>
        <!-- <li class="nav-item px-3">
            <a class="nav-link" href="#">Starred</a>
        </li> -->
    </ul>
    <ul class="nav navbar-nav ml-auto d-md-down-none">
        <!-- <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="icon-bell"></i>
                <span class="badge badge-pill badge-danger">5</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="icon-list"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="icon-location-pin"></i>
            </a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" ui-sref="appSimple.register"> Sign up
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" ui-sref="appSimple.login"> Login
            </a>
        </li>
        <li ng-if="isLoggedIn()" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                <span class="d-md-down-none">{{getCurrentUser().name}}</span>
            </a>

            <div class="dropdown-menu dropdown-menu-right">

                <div class="dropdown-header text-center">
                    <strong>Account</strong>
                </div>

                <!-- <a class="dropdown-item" href="#">
                    <i class="fa fa-bell-o"></i> Updates
                    <span class="badge badge-info">42</span>
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-envelope-o"></i> Messages
                    <span class="badge badge-success">42</span>
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-tasks"></i> Tasks
                    <span class="badge badge-danger">42</span>
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-comments"></i> Comment
                    <span class="badge badge-warning">42</span>
                </a>

                <div class="dropdown-header text-center">
                    <strong>Settings</strong>
                </div>

                <a class="dropdown-item" href="#">
                    <i class="fa fa-user"></i> Profile</a>
                
                <a class="dropdown-item" href="#">
                    <i class="fa fa-usd"></i> Payments
                    <span class="badge badge-default">42</span>
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-file"></i> Projects
                    <span class="badge badge-primary">42</span>
                </a>
                <div class="divider"></div>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-shield"></i> Lock account</a> -->
                <a class="dropdown-item" href="#">
                    <i class="fa fa-wrench"></i> Setting</a>
                <a class="dropdown-item" href="#" ng-click="$event.preventDefault();logout()">
                    <i class="fa fa-lock" ></i>
                    Logout
                </a>
                <!-- <i class="fa fa-lock"></i> Logout</a> -->
            </div>
        </li>
        <li class="nav-item">
            <!-- <a class="nav-link navbar-toggler aside-menu-toggler" href="#">&#9776;</a> -->
        </li>

    </ul>
</header>