<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <!-- <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main">
                    <i class="icon-speedometer"></i> Dashboard
                    <span class="badge badge-info">NEW</span>
                </a>
            </li>

            <li class="divider"></li> -->
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.components')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.components')}" href="#">
                    <i class="icon-list"></i> Setup</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.doctorlist">
                            <i class="fa fa-user-md"></i> Doctor List</a>
                    </li>
                </ul>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.categorylist">
                            <i class="fa fa-list"></i> Category List</a>
                    </li>
                </ul>

                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.healthcareunit">
                            <i class="fa fa-list"></i> Health Care Unit List</a>
                    </li>
                </ul>

                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.hospital">
                            <i class="fa fa-list"></i> Hospital Junction </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>